.project-card {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 300px;
  @media screen and (max-width: 400px) {
    min-width: 80%;
  }

  cursor: pointer;

  &:hover {
    .project-card__title {
      text-decoration: underline;
    }

    .project-card__image__i {
      filter: brightness(90%);
      transform: scale(0.99);
    }
  }

  &__image {
    margin-bottom: 10px;

    &__i {
      transition: 0.2s ease all;

      border-radius: 8px;
      width: 100%;

      min-height: 250px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__description {
    color: #999;
  }
}