$title-block-max-width: 750px;
$text-block-max-width: 560px;
$image-block-max-width: 1100px;

$text-size-common: 20px;
$text-size-medium: 18px;
$text-size-small: 16px;

$main-color: #2E7AF6;
$main-color-hovered: #2767D0;
:root {
  --main-color-rgb: 46, 122, 246;
}
$color-green: #4CA15B;

$button-padding: 12px 14px;